.introduction {
    --margin-offset:10rem;
    position: relative;
    background-color: var(--color-secondary);
    z-index: -1;
    padding-bottom:calc(var(--section-top-and-bottom-padding) + var(--margin-offset));
    padding-top:calc(var(--section-top-and-bottom-padding) + var(--margin-offset));
    margin-top:calc(var(--margin-offset) * -1);
    margin-bottom:calc(var(--margin-offset) * -1);
    
    

    
    

    position: relative;
    overflow-x: hidden;



    &__content {
        display: grid;
        justify-items: center;
        grid-gap:7.5rem;
        gap:5rem;
        --linebreak-fade-in:0;
        &::after {
            content: "";
            grid-row:4/5;
            display: block;
            height: 3px;
            width: 100%;
            background-color: var(--color-white);
            opacity: calc(var(--linebreak-fade-in) * 0.003);
            transform: translateY(calc(100% - var(--linebreak-fade-in) * 1%));
            border-radius: 5px;

        }

        @media only screen and (min-width: $md) {
            grid-gap:8rem;
            gap:8rem;
            
        }
        @media only screen and (min-width: $lg) {
            grid-gap:10rem;
            gap:10rem;
            
        }
    }

    &__paragraph {
        text-align: center;
        font-size: 1.6rem;
        &-container {
            display: grid;
            grid-gap:1.9rem;
            gap:1.9rem;


            @media only screen and (min-width: $xsm) {
                grid-gap:2.5rem;
                gap:2.5rem;
            }
            @media only screen and (min-width: $md) {
                grid-gap:4.5rem;
                gap:4.5rem;
            }
            @media only screen and (min-width: $lg) {
                grid-gap:5rem;
                gap:5rem;
            }
        }
        
        color: var(--color-white);

        @media only screen and (min-width: $md) {
            font-size: 2.1rem;
        }

    }

    &__img {
        @include border-radius(70px,110px);

        width: 25rem;
        height: 25rem;
        object-fit: cover;
        border: 15px solid rgba(255,255,255,.4);
        @media only screen and (min-width: $md) {
            width: 40rem;
            height: 40rem;
            border: 37px solid rgba(255,255,255,.4);
        }
    }

    &__download-resume {
        text-align: center;
    }
}
