.introduction {
    --margin-offset:10rem;
    position: relative;
    background-color: var(--color-secondary);
    z-index: -1;
    padding-bottom:calc(var(--section-top-and-bottom-padding) + var(--margin-offset));
    padding-top:calc(var(--section-top-and-bottom-padding) + var(--margin-offset));

    
    &__section-container {
        display: grid;
        gap: 2rem;

        @media only screen and (min-width: $md) {
            gap: 5rem;
        }
    }

    
    

    position: relative;
    overflow-x: hidden;



    &__content {
        display: grid;
        justify-items: center;
        grid-gap:7.5rem;
        gap:5rem;


        @media only screen and (min-width: $md) {
            grid-gap:8rem;
            gap:8rem;
            
        }
        @media only screen and (min-width: $lg) {
            grid-gap:10rem;
            gap:10rem;
            
        }
    }

    &__paragraph {
        font-size: 1.4rem;
        opacity: .8;
        &-container {
            display: grid;
            grid-gap:1.9rem;
            gap:2.1rem;


            // @media only screen and (min-width: $xsm) {
            //     grid-gap:2.5rem;
            //     gap:2.5rem;
            // }
            // @media only screen and (min-width: $md) {
            //     grid-gap:3.5rem;
            // }
            // @media only screen and (min-width: $lg) {
            //     grid-gap:5rem;
            // }
        }
        
        color: var(--color-white);

        @media only screen and (min-width: $md) {
            font-size: 1.8rem;
        }

    }

    &__img {
        @include border-radius(70px,110px);

        width: 25rem;
        height: 25rem;
        object-fit: cover;
        border: 8px solid rgba(255,255,255,.4);
        object-position: center -21px;
        @media only screen and (min-width: $md) {
            width: 40rem;
            height: 40rem;
        }
    }

    &__download-resume {
        text-align: center;
    }
}
