.header {
    
    
    overflow: hidden;
    background-color: var(--color-secondary);
    position: relative;
    padding: 2rem;
    height: 100%;
    background-size: contain;
    background-image: url("/img/header/shape.svg");
    background-repeat: no-repeat;
    background-position: top left;
  


    @media only screen and (min-width: $md) {
        padding:5rem;
    }
    @media only screen and (min-width: $lg) {
        padding:5rem;

        background-image: url("/img/header/shape-lg.svg");

    }



    &__shape {
        position: absolute;
        height: 100%;
        min-height: 600px;
        width: 70vw;
        top: 0;
        left: 0;
        fill:var(--color-secondary);


    }


    &__main-heading{
        line-height: 1.0;
        color:var(--color-white);
        font-weight: bold;
        font-size: 4rem;
        
        animation: moveInLeft .8s ease-in-out forwards;

        &--bg {
            display: none;
            @media only screen and (min-width: $md) {
                display: block;
            }
            
        }

        &--sm {

            @media only screen and (min-width: $md) {
                display: none;
            }

            & > span {
                display: block;
            }


        }
        
        @media only screen and (min-width: $xsm) {
            font-size: 5rem;
        }
        @media only screen and (min-width: $sm) {
            font-size: 6rem;
        }
        @media only screen and (min-width: $md) {
            font-size: 6.5rem;

        }
        @media only screen and (min-width: $lg) {
            font-size: 10rem;

        }

        @media only screen and (min-width: $xlg) {
            font-size: 14rem;

        }
        
    }

    &__sub-heading {
        font-size: 1.5rem;
        // letter-spacing: 1px;
        // opacity: .95;
        font-weight: 400;
        color:var(--color-white);
        animation: moveInRight .8s .1s ease-in-out backwards;
        @media only screen and (min-width: $xsm) {
            font-size: 2.3rem;
        }

        @media only screen and (min-width: $md) {
            font-size: 4rem;
        }

        @media only screen and (min-width: $lg) {
            font-size: 5rem;
        }
    }



    &__cta {
        // z-index: 98;
        display: flex;
        cursor: pointer;
        font-family: inherit;
        color:var(--color-white);
        font-size: 2rem;
        font-weight: 400;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border:none;
        
        &_container { 
            display: grid;
            justify-content: center;
            justify-items: center;
            gap:7rem;
            grid-template-columns: auto; 
            align-items: center; 
            position: absolute;
            bottom:10rem;
            left:0;
            width: 100%;
            

            @media only screen and (min-width: $xsm) and (max-width: $sm) and (max-height:36.06em) {
                grid-template-columns: auto auto; 
            }
            
            @media only screen and (min-width: $sm) and (max-width: $md)  and (max-height:34.25em) {
                grid-template-columns: auto auto; 
            }


            @media only screen and (max-height: 500px) {
                bottom:5rem;
            }

            @media only screen and (min-width: $md){
                grid-template-columns: auto auto; 
                gap:10rem;
                justify-content: center;
            }
            
            @media only screen and (min-width: $lg){
                justify-content: right;
                padding-right:10rem;
            }

        }
        
        
        outline: none;
        &:focus,
        &:hover {
            svg {
                animation: bounce .5s ease-in-out infinite alternate;
                
            }
        }

        svg {
            width: 2em;
            margin-top: 1em;
            height: auto;

            
        }
        
        @media only screen and (min-width: $sm) {
            font-size: 2.5rem;
            
        }
        @media only screen and (min-width: $md) {
            font-size: 2.8rem;
            
            
        }
        @media only screen and (min-width: $xlg) {
            font-size: 5rem;
            
        }

        @media only screen and (max-height: 31.25em) {
            font-size: 4vh;
        }
    }

    @keyframes bounce {
        from {
            transform: translate(0,0) ;
        }

        to {
            transform: translate(0,-20px);
        }
    }

    @keyframes moveInLeft {

        from {
            opacity: 0;
            transform: translateX(-40px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes moveInRight {

        from {
            opacity: 0;
            transform: translateX(40px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }


}

