.header {
    
    
    overflow: hidden;
    display: grid;
    grid-template-rows: 40% auto;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: var(--color-secondary);
    position: relative;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
  

    @media only screen and (min-width: $lg) {
        padding:5rem;
        grid-template-rows: 2fr 1fr;

    }

    &__shape {
        position: absolute;
        height: 100%;
        min-height: 600px;
        width: 70vw;
        top: 0;
        left: 0;
        fill:var(--color-secondary);


    }

    &__heading_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: end;
        
        @media only screen and (min-width: $lg) {
            justify-self: start;
            align-self: start;
            align-items: start;
        }
    }


    &__main-heading{
        line-height: 1.0;
        color:var(--color-white);
        white-space: nowrap;
        font-weight: bold;
        font-size: 3.5rem;
        animation: moveInLeft .8s ease-in-out forwards;

        
        @media only screen and (min-width: $xsm) {
            font-size: 4.5rem;
        }
        @media only screen and (min-width: $sm) {
            font-size: 6rem;
        }
        @media only screen and (min-width: $md) {
            font-size: 8rem;
        }
        @media only screen and (min-width: $lg) {
            font-size: 10rem;

        }

        @media only screen and (min-width: $xlg) {
            font-size: 14rem;

        }
        
    }

    &__sub-heading {
        font-size: 2.3rem;
        // letter-spacing: 1px;
        // opacity: .95;
        text-align: center;
        font-weight: 400;
        color:var(--color-white);
        animation: moveInRight .8s .1s ease-in-out backwards;
        @media only screen and (min-width: $xsm) {
        }

        @media only screen and (min-width: $md) {
            font-size: 4rem;
        }

        @media only screen and (min-width: $lg) {
            font-size: 5rem;
        }
    }



    &__cta {
        // z-index: 98;
        display: flex;
        cursor: pointer;
        font-family: inherit;
        color:var(--color-white);
        font-size: 2rem;
        font-weight: 400;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border:none;

        span {
            transition: all .2s ease;
        }

        &:nth-child(1) svg {
            
                animation-delay: 500ms;
            
        }
        
        &_container { 
            display: grid;
            justify-content: center;
            justify-items: center;
            gap:7rem;
            grid-template-columns: auto; 
            align-items: center; 
            
            bottom:10rem;
            left:0;
            width: 100%;
            

            @media only screen and (min-width: $xsm) and (max-width: $sm) and (max-height:36.06em) {
                grid-template-columns: auto auto; 
            }
            
            @media only screen and (min-width: $sm) and (max-width: $md)  and (max-height:34.25em) {
                grid-template-columns: auto auto; 
            }


            @media only screen and (max-height: 500px) {
                bottom:5rem;
            }

            @media only screen and (min-width: $md){
                grid-template-columns: auto auto; 
                gap:10rem;
                justify-content: center;
            }
            
            @media only screen and (min-width: $lg){
                justify-content: right;
                padding-right:10rem;
            }

        }
        
        
        outline: none;
        &:focus,
        &:hover {
            span {
                transform: translateY(-20px) scale(1.04);
            }
        }

        svg {
            width: 2em;
            margin-top: 1em;
            height: auto;
            animation: bounce 1.5s ease-in-out infinite alternate;            
        }

        
        @media only screen and (min-width: $sm) {
            font-size: 2.5rem;
            
        }
        @media only screen and (min-width: $md) {
            font-size: 2.8rem;
            
            
        }
        @media only screen and (min-width: $xlg) {
            font-size: 5rem;
            
        }

        @media only screen and (max-height: 31.25em) {
            font-size: 4vh;
        }
    }

    @keyframes bounce {
        from {
            transform: translate(0,0) ;
        }

        to {
            transform: translate(0,-15px);
        }
    }

    @keyframes moveInLeft {

        from {
            opacity: 0;
            transform: translateX(-40px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes moveInRight {

        from {
            opacity: 0;
            transform: translateX(40px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }


}

