

a {
    text-decoration: none;
    color: currentColor;
}

.section-header {
    color:var(--color-white);
    font-weight: 200;
    text-align: center;
    font-size: 3rem;
    opacity: .9;
    letter-spacing: 11px;
    text-transform: uppercase;
    line-height: 1;

    &--upper {
    }
    @media only screen and (min-width: $xsm) {
        font-size: 4rem;
    }
    @media only screen and (min-width: $md) {
        font-size: 6rem;
    }
    @media only screen and (min-width: $lg) {
        font-size: 7rem;
    }

}

